{% extends "base.html.twig" %}

{% block body %}
	{{parent()}}
	
	<div class="row" style="margin-bottom:80px;">
		<div style="position:relative; padding:0;" class="col l10 offset-l1 s12 m10 offset-m1">

			<div style="z-index:9; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="center">
				<div class="divider white  "></div>
					<h3 class="white-text  "><b>CONDITIONS GÉNÉRALES D'UTILISATION ET DE VENTE</b></h3>
				<div class="divider white  "></div>
			</div>

			<div style="background: url('img/chauffeur.jpg') no-repeat center center; background-size: cover; height:400px; width:100%; filter: brightness(60%);"></div>
	    </div>
	</div>

	<div class="container">
		<div class="row">
			<div class="container" style="text-align: justify;text-justify: inter-word;">

				<div class="row">
					<h5>1 - OBJET</h5>
					
					<p>			
						Les présentes Conditions Générales ont pour objet de définir les modalités et conditions d’utilisation et de vente des Services proposés par ISIS Chauffeur Privé, ainsi que de définir les droits et obligations des parties dans ce cadre.

						Elles peuvent être complétées, le cas échéant, par des Conditions Particulières à certains Services. En cas de contradiction, les Conditions Particulières prévalent sur ces Conditions Générales.

						En utilisant les services de ISIS Chauffeur Privé, le Client est présumé avoir pris connaissance des présentes Conditions Générales de Vente et les avoir pleinement acceptées.
					</p>
				</div>
				
				<div class="row">
					<h5>2 - DEFINITIONS</h5>
					
					<p>
						« Services » désigne l’ensemble des Prestations fournies par ISIS Chauffeur Privé. « Client » désigne toute personne physique disposant de la pleine capacité juridique pour s’engager au titre des présentes Conditions Générales. La personne physique qui ne dispose pas de la pleine capacité juridique ne peut accéder au Site et aux Services qu’avec l’accord de son représentant légal. « Client » désigne également toute personne morale agissant par l’intermédiaire d’une personne physique disposant de la capacité juridique pour contracter au nom et pour le compte de la personne morale. « Commande Immédiate » désigne toute réservation de course effectuée et validée par le Client quel que soit le canal de commande pour une prise en charge moins de 4 heures suivant l’heure de la prise de Commande. « Réservation à l’Avance» désigne toute réservation de course effectuée et validée par le Client quel que soit le canal de commande pour une prise en charge plus de 4 heures minimum suivant l’heure de la prise de Commande et dans un délai maximum de trente jours de la prise de Commande.

					</p>
				</div>
				
				<div class="row">
					<h5>3 - ACCEPTATION DES CONDITIONS GENERALES</h5>

					<p>
						L'accès et l'utilisation du site internet de ISIS Chauffeur Privé , l’acceptation d’un devis ou d’une réservation par le Client et/ou la confirmation de sa commande impliquent l’entière adhésion aux présentes Conditions Générales et l’acceptation sans réserve de toutes les dispositions énoncées. ISIS Chauffeur Privé se réserve le droit de modifier, à tout moment et sans préavis, le site internet ISIS Chauffeur Privé et les Services ainsi que les présentes, notamment pour s'adapter aux évolutions du site internet ISIS Chauffeur Privé par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes. Tout Client qui a recours aux Services postérieurement à l’entrée en vigueur des Conditions Générales modifiées est réputé avoir accepté ces modifications.

					</p>
				</div>
				
				<div class="row">
					<h5>4 - DESCRIPTION DES SERVICES</h5>

					<p>

						ISIS Chauffeur Privé est un Service de transport qui fournit des Prestations de déplacement en Véhicules de Tourisme avec Chauffeur (VTC) fonctionnant sur Commande Immédiate ou Réservation à l’Avance. Ces Prestations de transport (ci-après : les « Prestations ») peuvent inclure mais ne se limitent pas aux : • Transferts (trajets de point à point avec tarification horokilométrique, kilométrique ou forfaitaire) • Mises à disposition (événements, congrès, mariages, etc. avec tarification horaire) La Prestation n’est valable qu’une fois, et s’il s’avérait que le Client n’était pas présent sur le lieu de rendez-vous, la Prestation serait définitivement perdue et donnerait lieu à des frais d’annulation et de non-charge. Sauf convention contraire arrêtée préalablement par les Parties, la Prestation débute au jour et à l’heure fixée au contrat au départ du lieu de stationnement du véhicule. Elle se termine au jour et à l’heure fixée au contrat et au lieu de dépose final du Client. ISIS Chauffeur Privé peut choisir, sans le consentement du Client, de sous-traiter, transférer ou céder tout ou une partie de la Prestation à un tiers de son choix, sans en aviser au préalable le Client. ISIS Chauffeur Privé ne saurait alors être tenue responsable de quelques dommages ou préjudices que ce soient, la demande étant effectuée par et sous la responsabilité d’un partenaire.
					</p>
				</div>
				
				<div class="row">

					<h5>5 - INSCRIPTION SUR LE SITE</h5>

					<p>
						L’utilisation des Services du site internet ISIS Chauffeur Privé nécessite que le Client s’inscrive sur le site, en remplissant le formulaire prévu à cet effet. Le Client doit fournir l’ensemble des informations marquées comme obligatoires. Toute inscription incomplète ne sera pas validée. L’inscription entraîne automatiquement l’ouverture d’un compte au nom du Client (ci-après : le « Compte »), lui donnant accès à un Espace Personnel (ci-après : l’« Espace Personnel ») qui lui permet de gérer son utilisation des Services sous une forme et selon les moyens techniques que ISIS Chauffeur Privé juge les plus appropriés pour rendre lesdits Services. Le Client garantit que toutes les informations qu’il donne dans le formulaire d’inscription sont exactes, à jour et sincères et ne sont entachées d’aucun caractère trompeur. Il s’engage à mettre à jour ces informations dans son Espace Personnel en cas de modifications, afin qu’elles correspondent toujours aux critères susvisés. Le Client est informé et accepte que les informations saisies aux fins de création ou de mise à jour de son Compte vaillent preuve de son identité. Les informations saisies par le Client l’engagent dès leur validation. Le Client peut accéder à tout moment à son Espace Personnel après s’être identifié à l’aide de son identifiant de connexion ainsi que de son mot de passe.
						Le Client s’engage à utiliser personnellement son Espace Personnel et à ne permettre à aucun tiers de l’utiliser à sa place ou pour son compte, sauf à en supporter l’entière responsabilité. Il est pareillement responsable du maintien de la confidentialité de son identifiant et de son mot de passe. Il doit immédiatement contacter ISIS Chauffeur Privé s’il remarque que son Compte a été utilisé à son insu. Il reconnaît à ISIS Chauffeur Privé le droit de prendre toutes mesures appropriées en pareil cas.
					</P>
				</div>
				
				<div class="row">

					<h5>6 - OBLIGATIONS DU CLIENT PAR RAPPORT AU SITE INTERNET</h5>

					<P>
						Sans préjudice des autres obligations prévues aux présentes, le Client s’engage à respecter les obligations qui suivent : Le Client reconnaît avoir pris connaissance des caractéristiques et contraintes, notamment techniques, de l’ensemble des Services proposés sur le site internet ISIS Chauffeur Privé.

						Le Client est informé et accepte que la mise en œuvre des Services proposés sur le site internet ISIS Chauffeur Privé peut nécessiter qu’il soit connecté à internet et que la qualité des Services dépend directement de cette connexion, dont il est seul responsable. Le Client doit prendre les mesures nécessaires pour sauvegarder par ses propres moyens les informations de son Espace Personnel qu’il juge nécessaires, dont aucune copie ne lui sera fournie.

					</p>
				</div>
				
				<div class="row">

					<h5>7 - PERSONNES AUTORISEES</h5>

					<p>
						Le Client personne morale peut, à sa discrétion et sous sa responsabilité, autoriser ses membres ou collaborateurs nominativement désignés à bénéficier des droits ouverts par le présent contrat. Les Prestations du présent contrat ne peuvent en aucun cas être commercialisées ou revendues par le Client à un tiers quel qu’il soit. Cette liste de personnes autorisées est modifiable à tout moment par le Client par l’intermédiaire de son Espace Personnel mis à sa disposition sous sa seule responsabilité. Le Client peut faire occasionnellement bénéficier des Services toute personne de son choix (ses propres clients, visiteurs, etc.) non désignée comme personne autorisée. Dans ce cas, le demandeur devra préciser le nom de la personne autorisée, pour le compte de laquelle la course est effectuée, ainsi que le nom du passager à prendre en charge.

					</p>
				</div>
				
				<div class="row">

					<h5>8 - ACCES AUX SERVICES</h5>

					<p>
						L’accès aux Services est ouvert 24 heures sur 24 et 7 jours sur 7.

					</p>
				</div>
				
				<div class="row">

					<h5>9 - RESERVATION</h5>

					<p>
						Le Client peut effectuer la Commande Immédiate ou la Réservation à l’Avance d’un Service par téléphone, ou depuis le site internet ISIS Chauffeur Privé.

						Dans tous les cas, le Client doit renseigner ou préciser les différents éléments relatifs au Service souhaité et notamment le nom et les coordonnées du passager si différent du Client, son numéro de téléphone et adresse mail, le type de Prestation (transfert, mise à disposition, forfait, etc.), le lieu de charge et de dépose, le nombre de passagers et de bagages, la durée de la réservation dans le cadre d’une mise à disposition et son numéro de vol ou de train le cas échéant.

						Toute Commande Immédiate ou Réservation à l’Avance passée est ferme et définitive et pourra faire l’objet de frais d’annulation qui pourront être automatiquement facturés.

					</p>
				</div>
				
				<div class="row">

					<h5>10 - TARIFS</h5>

					<p>
						Une grille tarifaire est disponible sur le site internet ISIS Chauffeur Privé. Cependant, les montants communiqués sont donnés à titre indicatif et ne constituent qu’une estimation du montant de la Prestation sélectionnée par le Client.

						Le tarif de transfert s’applique au déplacement direct sans arrêt depuis le point de prise en charge jusqu’au point d’arrivée, selon le trajet souhaité par le chauffeur sauf demande explicite de la part du Client avant la commande ou la réservation, le Service se terminant immédiatement après. ISIS Chauffeur Privé peut décider d’un prix minimum qui sera facturé pour le Service, quelle que soit la distance et la durée du trajet.

						Par ailleurs, ISIS Chauffeur Privé peut décider d’adapter ses prix à différents critères et de facturer des frais supplémentaires dans certaines circonstances telles que la période de la journée, les jours fériés, la ville d’utilisation du Service, etc.

						Le prix final facturé au Client sera calculé lorsque l’exécution du Service sera terminée et pourra inclure des suppléments en fonction de la durée ou la distance du trajet et des frais d’attente si le passager s’est présenté plus tard que l’heure prévue par la réservation. Il pourra également être différent du forfait annoncé si le passager a demandé des Prestations supplémentaires : arrêts, escales, détours, changement de destination. Les prix indiqués incluent le véhicule, la Prestation chauffeur, l’assurance responsabilité civile professionnelles pour les personnes transportées, le carburant, les kilomètres et le temps déterminés lors de la réservation et /ou lors de la conclusion du contrat ainsi que les Services à bord indiqués au moment de la réservation. Le coût des péages, parkings et plus généralement tous lieux de stationnement, les frais d’entrée sur les sites (musées, théâtres, châteaux, ou autres) ainsi que les droits d’entrée dans les lieux publics demeurent à la charge du Client.

						Nos transferts et mises à disposition sont majorés de 25% de 22:00 à 05:00, les weekends et les jours fériés. Tout transfert ou mises à disposition qui débute dans une zone de majoration est intégralement majoré. Nous n'effectuons aucune majoration tarifaire horaire sur nos « mariages ». Nous n'effectuons aucune majoration tarifaire horaire sur nos « excursions ». Nous n'effectuons aucune majoration tarifaire horaire sur nos formules « pack découverte ».

						Sauf mention contraire, les tarifs sont exprimés en euros et toutes taxes comprises dont TVA de 10% sur les transferts et forfaits aux kilomètres et de 20% pour les Prestations à l’heure.

						ISIS Chauffeur Privé se réserve le droit, à sa libre discrétion et selon des modalités dont elle sera seule juge, de proposer des offres promotionnelles ou réductions de prix.
					</p>
				</div>
				
				<div class="row">

					<h5>11 - FRAIS D’ATTENTE</h5>

					<p>
						Hors gares et aéroports, l’attente n’est pas facturée si celle-ci ne dépasse pas 10 minutes. Au-delà de 10 minutes d’attente, les frais s’élèvent à 0,50 € TTC par minute mais ISIS Chauffeur Privé se réserve le droit d’annulation de la commande, le Client devant alors s’acquitter des frais de non-charge et d’annulation.

						En gares et aéroports, l’attente n’est pas facturée si celle-ci ne dépasse pas les 20 minutes de l’arrivée affichée du train ou de l’avion. Au-delà de 20 minutes d’attente, les frais s’élèvent à 0,50 € TTC par minute mais ISIS Chauffeur Privé se réserve le droit d’annulation de la commande, le Client devant alors s’acquitter des frais de non-charge et d’annulation.

						Toute attente au-delà d’une heure de retard sur l’heure de prise en charge initialement prévue sera facturée sur la base horaire mentionnée dans nos tarifs de la catégorie du véhicule réservé. ISIS Chauffeur Privé se réserve cependant le droit d’annulation de la commande, le Client devant alors s’acquitter des frais de non-charge et d’annulation.

					</p>
				</div>
				
				<div class="row">

					<h5>12 - FRAIS DE NON-CHARGE ET D’ANNULATION</h5>

					<p>
						Après la confirmation de la réservation, les frais d’annulation ou de non-charge correspondants à l’intégralité du montant initialement prévu lors de la réservation (plus les éventuels frais d’attente réalisés) seront applicables si le Client annule ou ne se présente par pour quelque raison que ce soit : • Pour une Réservation à l’Avance : moins de quatre heures avant le début de la Prestation • Pour une Commande Immédiate : plus cinq minutes après commande Dans tous les cas, les frais avancés par ISIS Chauffeur Privé auprès de prestataires, partenaires ou fournisseurs (demandes spécifiques de boissons, friandises, ou tout autre Service initialement prévu pour la commande) seront intégralement facturés au Client.

					</p>
				</div>
				
				<div class="row">

					<h5>13 - MODIFICATIONS EN COURS DE SERVICE</h5>

					<p>
						Toute modification du trajet par le Client au cours de la Prestation et entraînant des changements de programme pourra engendrer des suppléments à régler sur place ou à la fin de la Prestation. En cas de modification de la durée ou du parcours due à la seule volonté du Client, les frais occasionnés seront à la charge de ce dernier.

					</p>
				</div>
				
				<div class="row">

					<h5>14 - FACTURATION</h5>

					<p>
						Les Services font l’objet de factures qui sont communiquées au Client par courrier électronique. Le Client a également à sa disposition ses factures dans son compte personnel sur le site ISIS Chauffeur Privé.

					</p>
				</div>
				
				<div class="row">

					<h5>15 - CONDITIONS DE PAIEMENT</h5>

					<p>
						Les Services de ISIS Chauffeur Privé sont payables immédiatement à la fin de la Prestation. Pour certains Clients, un abonnement par contrat spécifique avec facturation globale en compte avec règlement en fin de mois est envisageable. Les règlements en espèces, virement et cartes bancaires sont acceptés. ISIS Chauffeur Privé ne conserve aucunes coordonnées bancaires du Client. Aucun paiement par chèque ne sera accepté sauf accord préalable de ISIS Chauffeur Privé. Dans tous les cas, le Client, signataire de la réservation, est seul responsable du paiement de la Prestation.

					</p>
				</div>
				
				<div class="row">

					<h5>16 - CONTESTATION DES FACTURES</h5>

					<p>
						Toute facture qui ne fait l’objet d’aucune contestation écrite du Client dans un délai de 30 jours à compter de sa date d’envoi sera réputée acceptée par ce dernier. Une contestation formulée, dans un délai de 30 jours à compter de sa date d’envoi, ne peut en aucun cas justifier un retard dans le règlement de la totalité de la facture. Si après vérification, une erreur de facturation est imputable à ISIS Chauffeur Privé, celle-ci s’engage à émettre au profit du Client l’avoir et/ou le remboursement éventuel correspondant dans les plus brefs délais.

					</p>
				</div>
				
				<div class="row">

					<h5>17 - RETARDS ET INCIDENTS DE PAIEMENT</h5>

					<p>
						Toute somme impayée dans un délai de 30 jours suivant la date de paiement contractuelle emportera de plein droit, et sans mise en demeure préalable déchéance du terme pour la totalité des créances de ISIS Chauffeur Privé. Les sommes restant dues sont immédiatement exigibles, majorées des intérêts de retard au taux de 3 fois l’intérêt légal en vigueur, à compter du premier jour de retard au-delà du délai de paiement contractuel, et des frais de recouvrement au taux de 15 % du solde restant dû avec un minimum de 40 euros, sans préjudice des recours judiciaires que ISIS Chauffeur Privé se réserve également le droit d’exercer. ISIS Chauffeur Privé se réserve le droit de suspendre, sans préavis ni indemnité, tout abonnement, compte ou Service en cours et d’annuler les demandes de courses formulées. En cas de non-paiement, ISIS Chauffeur Privé pourra également de plein droit résilier tout contrat en cours avec le Client.

					</p>
				</div>
				
				<div class="row">

					<h5>18 - RESPONSABILITE DU CLIENT ET DES PERSONNES TRANSPORTEES</h5>

					<p>
						Le Client s’engage pour lui-même et pour les passagers pour lesquels il a contracté avec ISIS Chauffeur Privé à se comporter de façon civile et raisonnable dès la prise en charge, en particulier, en respectant le chauffeur et le matériel de transport ainsi que les dispositions suivantes : • Respect des lois et règlements en vigueur (notamment les règles du Code de la Route dont port de la ceinture de sécurité, siège auto, rehausseur), et à ne pas porter atteinte aux droits de tiers ou à l’ordre public. • Interdiction de fumer, de manger, boire de l’alcool et de transporter des matières dangereuses. • Les dommages de toute nature causés au véhicule et/ou autres véhicules (par exemple, lors de l’ouverture intempestive des portières) seront à la charge du Client à moins qu’il ne soit démontré qu’ils proviennent du fait d’un tiers. Ne peuvent être considérés comme des Tiers les occupants du véhicule, les préposés, prestataires et invités du Client. • Le nombre de passagers autorisés (y compris le chauffeur) est celui figurant dans les caractéristiques techniques du véhicule. Il ne pourra jamais être dépassé. • Le transport d’animaux est interdit sans cage de transport, sauf autorisation préalable dûment mentionnée sur le Contrat, ou dans les cas d’animaux (Chien) accompagnateurs de personnes malvoyantes. Le non-respect de ces dispositions engage la responsabilité exclusive du Client et des passagers tant à l’égard de ISIS Chauffeur Privé que des tiers. ISIS Chauffeur Privé décline toute responsabilité concernant les agissements de son Client avant et après son transport. ISIS Chauffeur Privé se réserve également le droit de refuser la prise en charge, ou de débarquer, un passager qui ne respecterait pas ces obligations, ainsi qu’un passager alcoolisé.

					</p>
				</div>
				
				<div class="row">

					<h5>19 - RESPONSABILITE DE ISIS CHAUFFEUR PRIVE</h5>

					<p>
						ISIS Chauffeur Privé s’engage à transporter ses passagers dans les meilleurs délais, dans des conditions de sécurité optimales. ISIS Chauffeur Privé s’engage à fournir les Services avec diligence et selon les règles de l’art, étant précisé qu’il pèse sur elle une obligation de moyens, à l’exclusion de toute obligation de résultat, ce que les Clients reconnaissent et acceptent expressément.

						Dans le cas où ISIS Chauffeur Privé ne puisse honorer son engagement vis à vis du Client, la société s’engage à prévenir le Client dans les meilleurs délais. ISIS Chauffeur Privé se réserve la faculté de ne pas exécuter la Prestation en cas de survenance d’un cas de force majeure, d’un cas fortuit, du fait d’un tiers ou encore de tout événement pouvant présenter un risque pour le Client, ses invités, ses préposés, le chauffeur ou le véhicule. Il est convenu que les retards sur les délais de transports dû à des difficultés de circulation imprévues (embouteillages, accidents, déviations, conditions météorologiques, panne mécanique, événements divers, etc.), n’ouvrent aucuns droits à des indemnités ou à des remboursements quels qu’ils soient.

						En cas d’immobilisation du véhicule due à une défaillance mécanique, un accident ou autre, ISIS Chauffeur Privé s‘efforcera d’assurer la continuité du parcours, soit avec l’un de ces véhicules, soit avec un véhicule affrété à une autre compagnie et s’engage à prévenir le Client.

						En aucun cas ISIS Chauffeur Privé ne pourra être tenue pour responsable d’une défaillance mécanique ou d’une dégradation du véhicule indépendante de sa volonté, si toutefois celle-ci survenait, elle ne donnerait droit à aucun remboursement ou dédommagement. ISIS Chauffeur Privé n’est pas responsable des casses ou détériorations éventuelles, des contenus fragiles à l’intérieur des bagages des passagers.

						ISIS Chauffeur Privé se réserve le droit d’interrompre la Prestation en cours si le chauffeur s’aperçoit que le Client commet une infraction, par exemple l’usage de stupéfiants, d’alcool mais encore si le comportement des Clients mettait en péril la sécurité du chauffeur ou celle des véhicules loués, ou bien si les Clients étaient insultants vis-à-vis du chauffeur. La responsabilité de ISIS Chauffeur Privé ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du Service, ou autres problèmes involontaires.

						Dans tous les cas, le Client reconnaît expressément que la responsabilité de ISIS Chauffeur Privé sera limitée au montant estimé du prix de la Prestation lors de la réservation. Dans le cas où le prix final n’est pas déterminé, un montant forfaitaire sera fixé à défaut à un maximum de 50 euros si aucun de ces éléments n’est connu.

					</p>
				</div>
				
				<div class="row">

					<h5>20 - ASSURANCE</h5>

					<p>
						La responsabilité de ISIS Chauffeur Privé est limitée aux clauses de notre contrat d’assurance. Nos véhicules sont assurés pour le transport de personnes et nos voyageurs pour tous les dommages corporels couvrant la responsabilité civile professionnelle, conformément à la règlementation française, en application de l’article L. 3120-4 du code des transports. Le Client aura toute faculté de souscrire une assurance complémentaire à sa charge pour les frais d’annulation, les frais de rapatriement ou la couverture des bagages transportés sans que cette liste ne soit limitative.

					</p>
				</div>
				
				<div class="row">

					<h5>21 - DONNEES A CARACTERE PERSONNEL</h5>

					<p>
						Les présentes Conditions Générales sont soumises aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. Le Client dispose d’un droit d’accès, de rectification et de suppression des données à caractère personnel le concernant sur simple demande adressée à la société.
					</p>
				</div>
				
				<div class="row">

					<h5>22 - DUREE DU COMPTE</h5>

					<p>
						Le Compte est créé pour une durée indéterminée. Le Client peut demander la suppression de son Compte à tout moment, en adressant une demande à cet effet à ISIS Chauffeur Privé par email.

					</p>
				</div>
				
				<div class="row">

					<h5>23 - LANGUE</h5>

					<p>
						Dans l’hypothèse d’une traduction des présentes Conditions Générales dans une ou plusieurs langues, la langue d’interprétation sera la langue française en cas de contradiction ou de contestation sur la signification d’un terme ou d’une disposition.

					</p>
				</div>
				
				<div class="row">

					<h5>24 - DIVISIBILITE</h5>

					<p>
						Autant que possible, chaque clause des Conditions Générales doit être interprétée de manière à être effective et valable en vertu de la loi applicable. Dans le cas où l’une ou plusieurs des clauses contenues dans les Conditions Générales doit, pour une raison quelconque, être jugée invalide, illégale ou non exécutable, cette clause sera sans effet dans la limite de l’invalidité, l’illégalité ou l’inapplicabilité sans discréditer le reste de cette clause, sauf

						une telle interprétation était déraisonnable.

					</p>
				</div>
				
				<div class="row">

					<h5>25 - RENONCIATION</h5>

					<p>
						Tout retard ou manquement de ISIS Chauffeur Privé à assurer ou à exécuter à tout moment ses droits en vertu des Conditions Générales de vente ne peut être interprété comme une renonciation à cette disposition, ni d’aucune façon à affecter la validité des Conditions Générales. Aucune renonciation à toute violation des Conditions Générales ne sera considérée comme constituant une renonciation à tout manquement autre ou ultérieur.

					</p>
				</div>
				
				<div class="row">

					<h5>26 - LOI APPLICABLE ET JURIDICTION</h5>

					<p>
						Les présentes Conditions Générales sont régies par la loi française et ce même si la Prestation est effectuée dans un pays étranger. Toute réclamation doit être faite par lettre recommandée avec accusé de réception dans un délai de dix jours après l’exécution de la Prestation auprès de ISIS Chauffeur Privé. En cas de contestation sur la validité, l’interprétation et/ou l’exécution des présentes Conditions Générales, les parties conviennent que les tribunaux compétents du ressort du siège social de la société ISIS Chauffeur Privé seront exclusivement compétents pour en juger, sauf règles de procédure impératives contraires.

					</p>
				</div>
				
				<div class="row">

					<h5>27 - ENTREE EN VIGUEUR</h5>

					<p>
						Les présentes Conditions Générales sont entrées en vigueur le 1 avril 2020.
					</p>
				</div>
			</div>
		</div>		
	</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">
		$(document).ready(function(){
			$('body').hide().fadeIn(1500).delay(1500);
		});
	</script>
{% endblock %}