{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="container">
			<h2>Récapitulatif de votre réservation</h2>


			<a href="{{path('vtc_accueil')}}" class="btn btn-primary">Accueil</a>
		</div>
	</div>
{% endblock %}